/* carte réservation */
.card {
    width: 80%;
    height: 650px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin-bottom: 24px;
}

.card img {
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 80%;
}

.card.catalog{
    width: 90%;
}


.card.catalog.activ:hover{
  box-shadow: 0px 10px 0px var(--violet-bg-color);
  transition: 0.5s;
}



.card-img-top {
    object-fit: cover;

    height: 150px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.equipe::before{
    background: var(--violet-bg-color);
    height: 40px;
    width: 40px;
    content: "";
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 20px;

}

.equipe:hover::before{
  transition: 0.5s;
  background: var(--violet-bg-color);
}

.lien-card{
  display: flex;
  justify-content: center;
  color: var(--dark-bg-color);
}

.lien-card:hover{
  text-decoration: none;
  color: var(--dark-bg-color);
}

.card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card.bg-dark.text-white.hover-card:hover {
    transform: translateY(-10px) translateX(10px);
    box-shadow: -10px 10px 0px var(--violet-bg-color);
    transition: 0.5s;
}

.card-title{
    margin: 0;
}

.container-btn{
    display: flex;
    align-items: center;
}

.fa-credit-card-banner {
    display: none;
}

.text-btn.text-btn-banner {
    display: block;
    margin: 0;
}

.overlay.destruct{
  background-color: var(--overlay-bg-color);
  border-radius: 6px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: var(--white-color);
}

.price{
    margin: 0;
    margin-right: 10px;
    font-weight: bold;
}

.card-text{
    display: none;
}

.btn-primary{
    background-color: var(--btn-primary-color);
}

.text-btn{
    display: none;
}

/* carte home */
.card.bg-dark.text-white{
    width: 350px;
    height: 250px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

.card.bg-dark.text-white.activites{
    width: 100%;
    height: 250px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

.card.bg-dark.text-white .card-img {
    height: 100%;
}
.card-img{
    object-fit: cover;
    height: 100%;
    border-radius: 10px;
}

.card-img-overlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card.resa {
    width: 100%;
    height: 200px;
    margin: 0 0 10px 0;
}

.card-img-top.resa{
    height: 60%;
    object-fit: cover;
}


@media screen and (min-width: 767px) {
/* carte reservation */
    body{
        width: 100%;
    }

    .card {
        width: 350px;
        height: 600px;
        margin: 24px;
    }

    .card .catalog{
        width: 90%;
    }

    .card-title{
        width: 400px;
    }

    .card-text{
        display: block;
        width: 300%;
        margin: 5px;
    }

    .price{
        width: 50px;
    }

    .text-btn{
        display: block;
        margin: 0;
    }

    .fa-credit-card{
        display: none;
    }
  }
