html{
    font-family: 'Roboto', sans-serif;
}

.form{
    display: block;
    margin: 48px auto;
    width: 80vw;
}
.form-row {
    border-radius: 6px;
    border: solid 2px var(--border-light-color);
    margin-bottom: 20px;
    /* background-color: var(--card-light-bg-color); */
} 
.form-row .col{
    padding: 0;
}
.row3 {
    height: 200px;
}

.btn {
    /* See other properties in file css/buttons.css */
    display: flex;
    margin-left: auto;
}


@media screen and (min-width:577px){
    .form {
        width: 40vw;
    }
}