body{
  background-color: var(--light-bg-color);
  display:flex;
  flex-direction: column;
}

.container {
  margin-top: 50px;
  max-width: 1300px;
}

.home-cards, .about-cards, .planet-cards {
  margin: 48px auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home-cards .card {
  width: 300px;
  margin: 24px;
}

.brands {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 48px auto;
  justify-content: center;
}


.brands img {
  width: 250px;
  margin: 24px;
}

h2, h3 {
  width: 100%;
  text-align: center;
}

.container-activites {
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin: 48px auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-activites img {
  width: 300px;
  max-height: 250px;
  border-radius: 6px;
  margin-right: 24px;
}

.activite-title {
  width: 100%;
  text-align: center;
}

.desc-activite {
  width: 500px;
}

.container-activites:nth-of-type(3) {
  flex-direction: row-reverse;
}

.contact {
  margin: 24px auto;
}

address {
  width: 100%;
  text-align: center;
  margin: 48px 0;
}

address a {
  font-size: 2em;
  font-weight: bold;
  color: var(--violet-bg-color);
}
@media screen and (min-width: 767px) {
  .container-activites img {
    width: 400px;
    max-height: 350px;
    border-radius: 6px;
    margin-right: 24px;
    margin-bottom: 24px
  }

  .container-activites {
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
  }

}