#logo{
  width: 80px;
}

.navbar-dark .navbar-toggler{
  /* background-color: var(--violet-bg-color); */
  border-color: #00ffff00;
  font-size: 200%;

}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: var(--violet-bg-color);
}

.navbar-toggler-icon {
    display: flex;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background: no-repeat center center;
    background-size: 100% 100%;
    align-items: center;
    justify-content: center;
}

.navbar-dark .navbar-toggler-icon {
    background-image: none;
}

.navbar-collapse{
  font-weight: bold;
  font-size: 1.5em;
  justify-content: flex-end;
  margin-right: 50px;
}

.nav-link{
  margin-left: 20px;
}

.navbar-dark .navbar-nav .nav-link {
    color: black;
    justify-content: center;
    display: flex;
}

.navbar-dark{
  background-color: var(--light-bg-color);
}
